@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Pretendard';
	src: url('/public/font/PRETENDARD-THIN.OTF') format('opentype');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Pretendard';
	src: url('/public/font/PRETENDARD-EXTRALIGHT.OTF') format('opentype');
	font-weight: 200;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Pretendard';
	src: url('/public/font/PRETENDARD-LIGHT.OTF') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Pretendard';
	src: url('/public/font/PRETENDARD-REGULAR.OTF') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Pretendard';
	src: url('/public/font/PRETENDARD-MEDIUM.OTF') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Pretendard';
	src: url('/public/font/PRETENDARD-SEMIBOLD.OTF') format('opentype');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Pretendard';
	src: url('/public/font/PRETENDARD-BOLD.OTF') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Pretendard';
	src: url('/public/font/PRETENDARD-EXTRABOLD.OTF') format('opentype');
	font-weight: 800;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Pretendard';
	src: url('/public/font/PRETENDARD-BLACK.OTF') format('opentype');
	font-weight: 900;
	font-style: normal;
	font-display: block;
}

* {
	font-family: 'Pretendard', sans-serif;
}
